.inputWrapper {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.input {
  outline: none;
  border: 1px solid #ccc;
  background-color: #fff;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.invalid {
  border: 1px solid tomato;
  background-color: #fda49a;
}

.error {
  text-align: left;
  color: tomato;
  margin: 5px 0;
}
